venv/

files/

data/isole_filtrate
data/isole_escluse

src_data/1-files/downloaded_files.pkl/

exploratory_data_analisys/1-raw/results
exploratory_data_analisys/2-dimensions_reduction/results
exploratory_data_analisys/3-normalization/results

clusterizzazione/pipeline_finale
#clusterizzazione/pipeline_finale/hopkins_stats
#clusterizzazione/pipeline_finale/kdeplots
#clusterizzazione/pipeline_finale/optimal_clust
#clusterizzazione/pipeline_finale/tsne_visualizations
#clusterizzazione/pipeline_finale/tsne_visualizations_colors

__pycache__/
**/.DS_Store